<div>
  <div class="position-relative overflow-hidden  text-center bg-light">
    <div class="col-md-12 p-lg-12 mx-auto my-12">
      <img class="mb-12 app-logo" src="https://i.ibb.co/4T96D1d/logopizza42.png" alt="Pizza42" />
      <p class="lead">
        (Answer to life universe and everything)
        <a href="https://www.youtube.com/watch?v=ez6eauLcOuc">42</a>
      </p>
      <p class="lead">
        Go change the world and let Robos make your Pizza
      </p> 
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
</div>
